<!DOCTYPE html>
<html>
  <head>
    <title>DevvMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> <br>
       <div>
          <% if user_signed_in?%>
            <p><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %></p>
            <% else %>
            <p><%= link_to 'login', new_user_session_path, class:'' %></p>
          <% end %>
       </div>
       <div>
       <%= link_to 'Home', root_path , class:'' %>
       </div>
    <%= yield %>
  </body>
</html>
